<link rel="profile" href="http://gmpg.org/xfn/11">
<meta charset="UFT-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Hyde Open Source</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A listing of open source projects from Hyde.">

<link rel="stylesheet" href="assets/reset.css" media="screen">
<link rel="stylesheet" href="assets/grid.css" media="screen">
<link rel="stylesheet" href="assets/style.css" media="screen">
<link href="//abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">

<meta name="twitter:url" content="https://hyde.github.io">
<meta name="twitter:creator" content="@HydeOSS">
<meta name="twitter:site" content="@HydeOSS">
<meta name="twitter:title" content="Hyde Open Source">
<meta name="twitter:description" content="A listing of open source projects from Hyde.">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://g.twimg.com/eng/theme/eng-home-open-source.png">

{% include scripts/tracking.html %}