.grid-1, .grid-2, .grid-3, .grid-4 {
  position: relative;
  display: inline;
  float: left;
  margin-right: 10px;
  margin-left: 10px; }

/* Grid > Children */
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid > Columns */
.grid .grid-1 {
  width: 220px; }

.grid .grid-2 {
  width: 460px; }

.grid .grid-3 {
  width: 700px; }

.grid .grid-4 {
  width: 940px; }

/* http://nicolasgallagher.com/micro-clearfix-hack */
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }
